<%- include("partials/header") %>


<div class="container">
        <div class="row" style="margin-top:20px">
         <% blogs.forEach(function(x){ %>
         <div class="col-sm-4 border border-light " >
            <div > <h3> <%=x.title.substr(0,45) %> </h3> </div>
            <div style="text-align:center">
               <p> <img class="img-thumbnail" style="width:200px; height:200px" src= "<%= x.image %>" ></p>
            </div>
            <div >
                <p style=" margin-bottom:0 " > <%= x.description.substr(0, 240) %> </p>
            </div>
            <div style="text-align:center">
               <button type="button" class="btn btn-link">Show more</button>
            </div>
            </div>
         
        <% }) %>
   </div>
</div>
<%- include("partials/footer")%>