<%- include("partials/header")%>


<div class="container" >
      <div class = "container-fluid" style="text-align:center;">
         <img src = "<%=x.image%>" alt = "Generic placeholder thumbnail">
      </div>
      
      <div class = " container-fluid" >
         <h3><%=x.title%></h3>
         <p style="font-size: 1.5rem;"><%= x.description %></p>
         
         <div>
            <div>
               <a href = "/<%=x._id %>/edit" class = "btn btn-primary" role = "button"> edit </a> 
            </div>
            <div>
               <form action="/<%= x._id %>?_method=DELETE" method="POST">
               <button class = "btn btn-default"> delete </button>
               </form>
            </div>
            
         </div>
      </div>
</div>





<%- include("partials/footer")%>